<app-header></app-header>

<div class="movie-container">
    <div class="top">
        <div class="left">

            <div class="cover">
                <img [src]="movie?.cover" alt="" />
            </div>
            <div class="name">{{ movie?.name }}</div>
            <div class="rating">{{ movie?.rating.toFixed(2) }}% people recommend</div>
        </div>
        <div class="right">
            <div class="title"><b>Write a review</b></div>
            <div class="rating-form">
                <form [formGroup]="movieForm">
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <mat-label>Write your review here</mat-label>
                            <textarea matInput placeholder="how's the movie..." formControlName="review"></textarea>
                        </mat-form-field>
                    </div>
                </form>
                <div class="btn-container">
                    <section [formGroup]="likings">
                        <h4><b>Will you recommend the movie?</b></h4>
                        <p><mat-checkbox formControlName="like">Yes</mat-checkbox></p>
                        <p><mat-checkbox formControlName="dislike">No</mat-checkbox></p>
                    </section>
                    <br>
                    <button mat-raised-button mat-button color="primary" style="margin-right:50px"
                        (click)="saveReview()">Submit</button>


                </div>
            </div>
            <br>

            <div class="cover">
                <br>
                <br>
                <div class="title"><b>Reviews</b></div>
                <div class="movie-grid" *ngFor="let rev of movie?.reviews">
                    <div class="movie-card">
                        <b> Name: </b>{{rev.userDisplayName}}
                        <br>
                        <b> Reviews: </b>{{rev.review}}
                    </div>
                    <div class="movie-iteam">

                    </div>
                </div>
            </div>
        </div>
    </div>